<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery/jquery-1.11.1.min.js"></script>
</head>
<body>
<table border="1" id="table">
    <tr style="background-color: gray; color: red;">
        <th>a</th>
        <th>b</th>
    </tr>
    <tr>
        <td>c</td>
        <td>d</td>
    </tr>
</table>
<script type="text/javascript">
    <!--设置属性 取消间距-->
    $('#table').css('cellspacing', 0);
    $("#table").empty(); //清空单元格

    //右对齐 http://www.cnblogs.com/wanliyuan/p/3656178.html 看这个
    $("table td:nth-child(1)").css("text-align","left")
</script>
</body>
</html>